body {
    padding: 10px;
}
.block_all {   
    width: 1301px;
    height: 827px;
    background-color: blueviolet;
    margin:auto;
}
header {
    z-index: 3;
    width: 1301px;
    height: 71px;
    background-color: #8C0A0D;
    position: absolute;
}
.logo {
    width: 177px;
    height: 41px;
    margin: 15px 1057px 15px 67px;
    background-image: url(./img/Roshen_logo.png);
    position: absolute;
    display: block;
}
.menu {
    list-style-type: none;
    margin: 30px 234px 22px 369px;
    position: absolute;
    text-align: justify;
    
}
.menu li {
    display: inline;
    line-height: 10px;
    margin: 9px;
    
  }
.menu a {
    text-decoration: none;
    font-size: 14px;
    color:#FCC57E;
}
.flagEng {
    width: 26px;
    height: 18px;
    margin: 28px 115px 18px 1160px;
    background-image: url(./img/FlagEng.png);
    position: absolute;
}
.eng {
    width: 37px;
    height: 13px;
    margin: 28px 67px 21px 1197px;
    font-size: 17px;
    font-weight:500;
    position: absolute;
    color:#FCC57E;
}
.blestFon {
    z-index: 1;
    width: 1300px;
    height: 753px;
    margin: 35px 1px 0px 0px;
    background-image: url(./img/Blest_fon.png);
    position: absolute;
    background-repeat: no-repeat;
}
.prozFon {
    z-index: 2;
    width: 1301px;
    height: 827px;
    margin: 0px 0px 0px 0px;
    background-image: url(./img/proz_fon.png);
    position: absolute;
    background-repeat: no-repeat;
}
.zavod {
    z-index: 3;
    width: 1170px;
    height: 335px;
    margin: 95px 67px 0px 66px;
    background-image: url(./img/zavod.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.prozFon2 {
    z-index: 4;
    width: 1170px;
    height: 335px;
    margin: 95px 67px 0px 66px;
    background-image: url(./img/proz_fon2.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size:100% 100%;
    opacity: 0.1;
}
.ramka {
    z-index: 5;
    width: 1164px;
    height: 329px;
    margin: 95px 67px 0px 66px;
    border: 4px solid #35040C;
    position: absolute;
}
.roshen {
    z-index: 6;
    width: 455px;
    height: 54px;
    margin: 22px 353px 251px 359px;
    font-size: 59px;
    font-family:'Times New Roman', Times, serif;
    color:#35040C;
    position: absolute;
    background-repeat: no-repeat;
}
.knopka {
    z-index: 6;
    width: 190px;
    height: 43px;
    margin: 206px 488px 185px 560px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color:#080808;
    text-align: center;
    position:absolute;
    background-color: #F6CC79;
    border-radius: 10px;
    box-shadow: 0px 5px #BF670D;
}
.bl {
    z-index: 7;
    width: 155px;
    height: 23px;
    margin-top: 4%;
    margin-left: 11%;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    color:#080808;
    position: absolute;
    display: block;
}
.larrow {
    z-index: 6;
    width: 55px;
    height: 55px;
    margin: 230px 1085px 142px 96px;
    background-image: url(./img/left\ arrow.png);
    background-size: 100% 100%;
    position:absolute;
}
.rarrow {
    z-index: 6;
    width: 55px;
    height: 55px;
    margin: 230px 28px 142px 1151px;
    background-image: url(./img/right\ arrow.png);
    background-size: 100% 100%;
    position:absolute;
}
.eli1 {
    z-index: 6;
    width: 16px;
    height: 16px;
    margin: 310px 599px 9px 554px;
    background-image: url(./img/Эллипс\ 3@1X.png);
    background-size: 100% 100%;
    position:absolute;
}
.eli2 {
    z-index: 6;
    width: 16px;
    height: 16px;
    margin: 310px 577px 9px 577px;
    background-image: url(./img/Эллипс\ 3\ копия@1X.png);
    background-size: 100% 100%;
    position:absolute;
}
.eli3 {
    z-index: 6;
    width: 16px;
    height: 16px;
    margin: 310px 554px 9px 600px;
    background-image: url(./img/Эллипс\ 3@1X.png);
    background-size: 100% 100%;
    position:absolute;
}
.block_statii1 {
    z-index: 6;
    width: 1170px;
    height: 335px;
    margin: 464px 67px 0px 66px;
    position: absolute;
}
.block_statii1>a {
    width: 272px;
    float:left;
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
    color: black;

}
.block_statii2 {
    z-index: 6;
    width: 1170px;
    height: 335px;
    margin: 582px 67px 0px 66px;
    position: absolute;
}
.block_statii2>a {
    width: 272px;
    float:left;
    margin-right: 20px;
    font-size: 17px;
    color: black;

}
footer {
    z-index: 36;
    width: 1301px;
    height: 71px;
    margin: 756px 0px 0px 0px;
    background-color: #8C0A0D;
    position: absolute;
}
.www {
    width: 192px;
    height: 14px;
    margin: 37px 1042px 20px 67px;
    font-size: 15px;
    position: absolute;
}
a {
    text-decoration: none;
    color: #FBC86B;
}
.adress {
    width: 144px;
    height: 38px;
    margin: 9px 792px 20px 361px;
    font-size: 14px;
    position: absolute;
    color:#FBC86B ;
    line-height:24px;
}
.tel1 {
    width: 144px;
    height: 38px;
    margin: 9px 499px 0px 658px;
    font-size: 14px;
    position: absolute;
    color:#FBC86B ;
    line-height:24px;
}
.tel2 {
    width: 144px;
    height: 38px;
    margin: 32px 499px 20px 685px;
    font-size: 14px;
    position: absolute;
    color:#FBC86B ;
    line-height:24px;
}
.email1 {
    width: 138px;
    height: 36px;
    margin:9px 206px 22px 957px;
    font-size: 14px;
    position: absolute;
    color:#FBC86B ;
    line-height:24px;
}
.email {
    width: 138px;
    height: 36px;
    margin:31px 206px 22px 957px;
    font-size: 14px;
    position: absolute;
    color:#FBC86B ;
    line-height:24px;
}
.face {
    width: 28px;
    height: 28px;
    margin:22px 109px 21px 1164px;
    position: absolute;
   
}
.vk {
    width: 28px;
    height: 28px;
    margin:22px 68px 21px 1205px;
    position: absolute;
  
}
